<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
</head>
<body>
    <h1>Car List</h1>
    
    <% if (error) { %>
        <p><%= error %></p>
    <% } else { %>
        <% if (cars.length > 0) { %>
            <ul>
                <% cars.forEach(car => { %>
                    <li><%= car.make %> - <%= car.model %></li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No cars found.</p>
        <% } %>
    <% } %>
</body>
</html>
